/* iProduct.basic */
.wrapper {
  width: 800px;
  margin: 0 auto;
  height: auto;
}
.hide {
  display: none;
  visibility: hidden;
}
.btn,
.btn:focus,
.btn:active {
  padding: 6px 24px;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.form-control {
  border-radius: 2px;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.avatar {
  border-radius: 50%;
  border: 1px solid #fff;
}
/* iProduct.theme */
.theme-cyan a {
  color: #00BCD4;
}
.theme-cyan a:hover {
  color: #0097A7;
}
.theme-cyan .header {
  background: #00BCD4;
  color: #FFF;
}
.theme-cyan .header a {
  color: #FFF;
}
.theme-cyan .header a:hover {
  color: #0097A7;
}
.theme-cyan .brand {
  text-decoration: none;
}
.theme-cyan .btn {
  color: #fff;
  background: #00BCD4;
  border-color: #00BCD4;
}
.theme-cyan .btn:hover {
  padding: 6px 24px;
  background: #0097A7;
  border-color: #0097A7;
}
.theme-cyan .form-control:focus {
  border-color: #00BCD4;
}
.theme-cyan .day-title {
  color: #00BCD4;
}
.theme-cyan .post-item-vote .vote-up.active,
.theme-cyan .post:hover .post-item-vote .vote-up.active {
  color: #00BCD4;
}
.theme-cyan .post .post-item-vote .vote-up:hover {
  border-color: #00BCD4;
  color: #00BCD4;
}
/* iProduct.header */
.header .navbar {
  border: 0;
  margin-bottom: 0;
}
.brand {
  padding: 10px 0;
}
.site-title {
  font-size: 1.2em;
  margin: 0;
}
h2.site-title {
  font-size: 0.8em;
}
.navbar-nav>li>a {
  padding: 15px 0;
  margin-left: 30px;
}
.navbar-nav>li>a:hover {
  background: none;
}
/* iProduct.posts */
.content-home {
  margin-top: 20px;
}
.posts {
  list-style: none;
  margin: 0 -10px;
  padding: 0;
}
.posts .post {
  width: 100%;
  height: 60px;
  padding: 10px;
}
.posts .post:hover {
  border-radius: 3px;
  background: #f6f8f9;
}
.day-title {
  width: 100%;
  height: 30px;
  margin: 5px 0;
}
.day-title .day-date-title {
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  margin: 5px 0;
}
.day-title .day-time {
  color: #ccc;
  font-size: 14px;
  vertical-align: bottom;
  margin-left: 10px;
}
.post-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50px;
  z-index: 49;
}
.post-item-vote,
.post-item-main,
.post-item-meta {
  display: block;
}
.post-item-main {
  width: 100%;
  height: 40px;
  padding: 0 110px 0 50px;
  position: relative;
}
.post-item-main .main-title {
  height: 24px;
  font-size: 20px;
  line-height: 24px;
  position: absolute;
  z-index: 99;
}
.post-item-main .main-tagline {
  width: 100%;
  height: 16px;
  color: #ccc;
  font-size: 14px;
  line-height: 16px;
  padding-top: 24px;
}
.post-item-vote {
  width: 40px;
  height: 40px;
  float: left;
}
.post-item-vote .vote-up {
  width: 36px;
  height: 40px;
  display: block;
  color: #ccc;
  text-align: center;
  padding: 2px;
  border-radius: 3px;
  border: 1px solid #ececec;
  text-decoration: none;
  position: absolute;
  z-index: 99;
  box-shadow: 0 1px 1px rgba(0, 0 , 0, .05);
}
.post:hover .post-item-vote .vote-up {
  color: #999;
  border: 1px solid #ccc;
  background: #fff;
}
.post-item-vote .vote-icon {
  width: 30px;
  height: 18px;
  display: block;
}
.post-item-vote .vote-num {
  width: 30px;
  height: 18px;
  display: block;
  font-size: 12px;
}
.post-item-meta {
  width: 100px;
  height: 40px;
  float: right;
}
.post-item-user,
.post-item-comments {
  width: 40px;
  height: 40px;
  float: right;
}
.post-item-user {
  padding: 4px;
  position: absolute;
  z-index: 99;
}
.post-item-user .avatar {
  width: 32px;
  height: 32px;
}
.post-item-comments {
  width: 100px;
  height: 40px;
  color: #999;
  line-height: 40px;
  vertical-align: middle;
  text-align: left;
  padding-left: 50px;
}
.post-item-comments .comment-icon {
  display: inline-block;
  line-height: 18px;
  margin-right: 5px;
}
.post-empty {
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  margin: 5px 0;
  border-radius: 3px;
  color: #e0e0e0;
  font-size: 14px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  background: #fefefe;
}
.posts-more {
  width: 100%;
  height: 50px;
  line-height: 30px;
  color: #999;
  text-align: center;
  padding: 10px 0;
}
/* iProduct.post */
.content-post {
  margin-top: 20px;
}
.content-post .post-item-main {
  height: auto;
  padding-right: 0;
  margin-bottom: 20px;
}
.content-post .main-tagline {
  height: auto;
  word-wrap: break-word;
}
.content-post .post-item-meta {
  width: 100%;
  height: 60px;
  float: none;
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.content-post .post-item-user {
  width: 50%;
  padding: 0;
  float: left;
  color: #ccc;
}
.content-post .post-share {
  width: 50%;
  float: right;
}
.content-post .post-section-title {
  font-size: 14px;
  color: #727272;
}
.votes {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}
.vote-item {
  width: 40px;
  height: 40px;
  display: inline-block;
}
.vote-item .avatar {
  width: 32px;
  height: 32px;
}
.content-post .post-comments {
  width: 100%;
  height: 0;
}
.content-post .post-comment-box .form-control {
  margin: 10px 0;
}
